.chocco-pic {
  width: 112%;
}

.marker-pic {
  margin-top: 52px;
}

.leaf-pic {
  position: absolute;
  top: 188px;
}

.leaves-pic {
  position: absolute;
  top: 356px;
}

.berries-pic {
  position: absolute;
  top: 0px;
}

.product-pic {
  width: 85%;
}

.polygon-pic {
  height: 100%;
}